extends layout

block stylesheets
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/flashcard.css')

block javascripts
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/js/Util.js')
  script(src='/js/view/index/learn_mode/MessageView.js')
  script(src='/js/view/index/learn_mode/ResultView.js')
  script(src='/js/view/index/learn_mode/NoteInfoView.js')
  script(src='/js/view/index/learn_mode/ScorecardView.js')
  script(src='/js/view/index/learn_mode/BackgroundView.js')
  script(src='/js/controller/index/learn_mode/LearnModeController.js')
  script(src='/js/controller/index/learn_mode/BackgroundController.js')
  script(src='/js/controller/index/learn_mode/MessageController.js')
  script(src='/js/controller/index/learn_mode/NoteCardController.js')
  script(src='/js/controller/index/learn_mode/ResultController.js')
  script(src='/js/controller/index/learn_mode/ScoreCardController.js')

block content
  img(src='img/lost.jpg').background#background_lost
  img(src='img/found.png').background#background_found
  img(src='img/fade.png')#tunnel_vision

  nav.navbar.navbar-default(role='navigation')
      .navbar-header.pull-right
          a.navbar-brand(href='#')
            img(src='img/flash.png')
        div
          ul.nav.navbar-nav
            li.active
              #scorecard

  #content.container
    #flashcard
      div.row#note
        div.col-md-8#loading 'loading...'
        div.col-md-8#login
          div#login_message.gray What's my name...?
          input#login_input(type='text')
        div.col-md-8#mascot
          #message
        div.col-md-8#highlighted
          span#pre_underline
          input#underline(type='text')
          span#post_underline
        div.col-md-8#result
        div.col-md-4#note_info.pull-right
          a#note_link.glyphicon.glyphicon-info-sign(href='#')
          #hint_icon.glyphicon.glyphicon-question-sign
          #hint
