extends flash

block extra_scripts

block content
  .content.container-fluid
    .row
      .col-md-2
        #scorecard HEEEE           


      .col-md-8.col-md-offset-1.card-container    
          
  
    +info-card 
    +note-card
          
