extends layout

block content
  #content
    h2  Flash 
    #flashcard.well
      div.row#note
        div.col-md-9#mascot
          img#stephen(src="img/stephen.png")
          #message  Welcome bro! I'm Stephen. Hit enter to get started!
        div.col-md-9#highlighted
          span#pre_underline
          input#underline(type='text', contenteditable='true')
          span#post_underline
        div.col-md-9#result ReZULT
        div.col-md-3#note_info
          #hint.glyphicon.glyphicon-question-sign
          a#note_link.glyphicon.glyphicon-info-sign(href='#')
    #scorecard
