extends layout

block stylesheets
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/flashcard.css')

block javascripts
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/js/Util.js')
  script(src='/js/BindingUtils.js') 
  script(src='/js/ControlUtils.js')
  script(src='/js/model/Note.js')
  script(src='/js/data_manager/NoteManager.js')
  script(src='/js/view/index/learn_mode/MessageView.js')
  script(src='/js/view/index/learn_mode/ResultView.js')
  script(src='/js/view/index/learn_mode/NoteInfoView.js')
  script(src='/js/view/index/learn_mode/ScrollCardView.js')
  script(src='/js/view/index/learn_mode/ScoreCardView.js')
  script(src='/js/view/index/learn_mode/LearnModeNoteScrollView.js')
  script(src='/js/view/index/learn_mode/LearnModeNoteCardView.js')
  script(src='/js/view/index/BackgroundView.js')
  script(src='/js/controller/index/learn_mode/LearnModeController.js')
  script(src='/js/controller/index/learn_mode/BackgroundController.js')
  script(src='/js/controller/index/learn_mode/MessageController.js')
  script(src='/js/controller/index/learn_mode/LearnModeNoteCardsController.js')
  script(src='/js/controller/index/learn_mode/LearnModeNoteCardController.js')
  script(src='/js/controller/index/learn_mode/NoteInfoController.js')
  script(src='/js/controller/index/learn_mode/ResultController.js')
  script(src='/js/controller/index/learn_mode/ScoreCardController.js')
  script(src='/js/IndexMain.js')

mixin note-card
  #note-card-model.note-card
    .row.challenge
        .col-md-11
          .highlighted-text
            span.pre-underline The queeen is famous for
            input.underline(type='text')
            span.post-underline , name not withstanding.
        .col-md-1.note-info.pull-right              
          a.note_link.glyphicon.glyphicon-info-sign(href='#')
          .hint_icon.glyphicon.glyphicon-question-sign
          .hint

    .row.result
      .col-md-12 try this one!

    .row.message
      .col-md-12

mixin info-card
  #info-card-model.info-card
    .info-card-content    
            
block content
  .content.container-fluid
    .row
      .col-md-2
        #scorecard HEEEE           


      .col-md-8.col-md-offset-1.card-container    
          
  
    +info-card 
    +note-card
          
