extends layout

block stylesheets
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/flashcard.css')

block javascripts
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/js/Util.js')
  script(src='/js/BindingUtils.js') 
  script(src='/js/ControlUtils.js')
  script(src='/js/model/Note.js')
  script(src='/js/data_manager/NoteManager.js')
  script(src='/js/view/index/learn_mode/MessageView.js')
  script(src='/js/view/index/learn_mode/NoteInfoView.js')
  script(src='/js/view/index/learn_mode/ScrollCardView.js')
  script(src='/js/view/index/learn_mode/LearnModeNoteCardView.js')
  script(src='/js/view/index/learn_mode/ResultsView.js')
  script(src='/js/view/index/learn_mode/StatusView.js')
  script(src='/js/view/index/learn_mode/NotesLoadingView.js')
  script(src='/js/view/index/view_mode/ViewModeNoteCardView.js')
  script(src='/js/view/index/view_mode/NewNoteView.js')
  script(src='/js/view/index/NotesView.js')
  script(src='/js/view/index/BackgroundView.js')
  script(src='/js/controller/index/learn_mode/BackgroundController.js')
  script(src='/js/controller/index/learn_mode/MessageController.js')
  script(src='/js/controller/index/learn_mode/LearnModeNoteCardsController.js')
  script(src='/js/controller/index/learn_mode/LearnModeNoteCardController.js')
  script(src='/js/controller/index/learn_mode/NoteInfoController.js')
  script(src='/js/controller/index/view_mode/ViewModeNoteCardsController.js')
  script(src='/js/controller/index/view_mode/ViewModeNoteCardController.js')
  script(src='/js/controller/index/view_mode/NewNoteController.js')

  script(src='/js/controller/index/ModeController.js')
  script(src='/js/IndexMain.js')

mixin learn-mode-note-card
  #learn-mode-note-card-model.learn-mode.row.note-card
    .col-md-11.note-content
      .note-text
        span.pre-underline
        input.underline(type='text')
        span.post-underline
      .hint

mixin view-mode-note-card
  #view-mode-note-card-model.view-mode.row.note-card
      .col-md-11.note-content
        textarea.update.note-text(type='text')
        .static.note-text              
        .static.hint
        input.update.hint(placeholder='create a new hint')
      .col-md-1.delete-button
        span.glyphicon.glyphicon-trash.pull-right.delete-button

mixin info-card
  #info-card-model.info-card.note-card

mixin result-card
  #result-card-model.result-card
    .row
      .successful
      .failed

mixin new-note
  #new-note-model.new-note.note-card.row
    .col-md-11.note-content
      textarea.note-text(type='text', placeholder='create a new note')
      input.hint(placeholder='create a new hint')


block content
  .background-container
    .background
  .content.container-fluid
    .row
      .col-md-2
        .status-display

      .col-md-8.col-md-offset-1.card-container
          .notes-loading-display Loading notes...
          
  
    +info-card 
    +learn-mode-note-card
    +view-mode-note-card
    +result-card
    +new-note

