doctype html
html(lang='en')
  head
    title Lokey
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='static/img/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,300', rel='stylesheet', type='text/css')

    block stylesheets

    block javascripts

body
  block content
