doctype html
html(lang='en')
head
    title Lokey
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='static/img/favicon.ico')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/js/util.js')
    script(src='/js/notemanager.js')
    script(src='/js/notecard.js')
    script(src='/js/noteinfo.js')
    script(src='/js/result.js')
    script(src='/js/mascot.js')
    script(src='/js/scorecard.js')
    block stylesheets

body
    block content