html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.result {
  position: relative;
  top: 40%
}

.info-card {
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  padding: 5px;
  height: 100%;
}

.content {
  height: 100vh;
  overflow: scroll;
}

.underline {
  margin: 5px
}
.blue{
  color:blue;
}

#flash-card-model,#learn-mode-note-card-model,#view-mode-note-card-model,#result-card-model,#new-note-model {
  display: none;
}

.card-container {
  height: 100vh;
  overflow: scroll;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.background-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 500%;
  position: absolute;
  background: #d3d3d3;
  bottom: 0;
  left: 0;

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(bottom, #1857af 10%, #5279AE 20%, #5279AE 30%, #7392BD 40%, #819DC4 50%, #9DB3D1 60%, #ABBED7 70%, #FAFAFA 79%, #FAFAFA);
}

.result-card {
  text-align: center;
}

.result-card:focus {
  outline: none;
}

.result-card .successful,.result-card .failed,.note-text {
  font-size: 22px;
}

.status-display {
  font-size: 50px;
  font-weight: bold;
}

.hint {
  font-size: 16px;
  color: #808080;
}

.notes-loading-display {
  font-size: 22px;
  text-align: center;
}

.note-card, .note-content {
  height: 100%
}

.note-text {
  height: 80%;
  width: 100%;
}

.hint {
  width: 100%;
}

