/*body{*/
  /*font: 14px "amnesia", "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*font-family: "Open Sans";*/
  /*background-color:black;*/
/*}*/
/*.navbar{*/
  /*min-height:55px;*/
/*}*/
/*.background{*/
  /*position:absolute;*/
  /*width:100%;*/
  /*height:100%;*/
/*}*/
/*.background_found{*/
  /*display:none;*/
/*}*/

/*#content{*/
  /*padding-top:130px;*/
  /*max-width:42%;*/
  /*font-size:24px;*/
  /*color:black;*/
/*}*/
/*#underline{*/
  /*background-color:transparent;*/
  /*border-width:0;*/
  /*margin-left:5px;*/
  /*margin-right:5px;*/
/*}*/

/*input[type="text"]{*/
/*border-color: rgba(100, 125, 50, 0.9);*/
/*padding:5px;*/
/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(100, 125, 50, 0.7);*/
/*outline: 0 none;}*/

/*#note_info{*/
  /*font-size:14px;*/
/*}*/
/*#hint, #note_link, #hint_icon{*/
  /*margin:5px;*/
  /*display:block;*/
/*}*/
/*#note_link, #hint_icon{*/
  /*font-size:16px;*/
/*}*/
/*#hint{*/
  /*font-size:13px;*/
/*}*/

/*#mascot{*/
  /*overflow:auto;*/
  /*position:relative;*/
/*}*/
/*.flipped{*/
  /*-moz-transform: scaleX(-1);*/
  /*-o-transform: scaleX(-1);*/
  /*-webkit-transform: scaleX(-1);*/
  /*transform: scaleX(-1);*/
  /*filter: FlipH;*/
  /*-ms-filter: "FlipH";*/
/*}*/

/*#scorecard{*/
  /*font-size:24px;*/
  /*padding:10px;*/
/*}*/
/*.score{*/
/*}*/

/* For Icons */
/*.gray{*/
  /*color:#444;*/
/*}*/
/*.green{*/
  /*color:lawngreen;*/
/*}*/
/*.red{*/
  /*color:red;*/
/*}*/

/*.navbar{*/
  /*background: rgba(0,0,0,0.0);*/
  /*border-color: rgba(0,0,0,0.0);*/
/*}*/

html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.challenge{
  position: relative;
  top: 10%;
  max-height: 6em;
  overflow: hidden;
}

.result {
  position: relative;
  top: 40%
}

.highlighted-text,.result {
  text-align: center;
  font-size: 22px;
}

/*.info-cards {*/
  /*position:relative;*/
  /*top: -134vh;*/
/*}*/


.info-card {
  /*margin-top: 20vh;*/
  /*margin-bottom: 20vh;*/
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  /*height: 50vh;*/
}

.content {
  height: 100vh;
  overflow: scroll;
}

.underline {
  margin: 5px
}
.blue{
  color:blue;
}

#flash-card-model,#learn-mode-note-card-model,#view-mode-note-card-model,#result-card-model {
  display: none;
}

.card-container {
  height: 100vh;
  overflow: scroll;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.background-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 500%;
  position: absolute;
  background: #d3d3d3;
  bottom: 0;
  left: 0;

  /* Safari 4-5, Chrome 1-9 */
  /*background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1964C8), color-stop(0.70, #1964C8), color-stop(0.70, #1964c8), to(#FAFAFA));*/

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(bottom, #1857af 10%, #5279AE 20%, #5279AE 30%, #7392BD 40%, #819DC4 50%, #9DB3D1 60%, #ABBED7 70%, #FAFAFA 79%, #FAFAFA);
              /*-webkit-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #1a82f7 95%, #2F2727);*/


  /* Firefox 3.6+ */
  background: -moz-linear-gradient(bottom, #1964C8, #FAFAFA, 80%%);

  /* IE 10 */
  background: -ms-linear-gradient(bottom, #1964C8, #FAFAFA, 80%, #FAFAFA);

  /* Opera 11.10+ */
  background: -o-linear-gradient(bottom, #1964C8, #FAFAFA, 80%, #FAFAFA);
}

.result-card {
  text-align: center;
}

.result-card:focus {
  outline: none;
}

.result-card .successful,.result-card .failed,.note-text .text {
  font-size: 24px;
}

.status-display {
  font-size: 50px;
  font-weight: bold;
}