html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.result {
  position: relative;
  top: 40%
}

.info-card {
  box-shadow: 0px 0px 40px grey;
  border-radius: 5px;
  background: #f5f5f5;
  padding: .5%;
  height: 100%;
}

.content {
  height: 100vh;
  overflow: scroll;
}

.underline {
  margin: 5px
}
.blue{
  color:blue;
}

#flash-card-model,#learn-mode-note-card-model,#view-mode-note-card-model,#result-card-model,#new-note-model, #info-card-model {
  display: none;
}

.card-container {
  height: 100vh;
  overflow: scroll;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.background-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 500%;
  position: absolute;
  background: #d3d3d3;
  bottom: 0;
  left: 0;

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(bottom, #1857af 10%, #5279AE 20%, #5279AE 30%, #7392BD 40%, #819DC4 50%, #9DB3D1 60%, #ABBED7 70%, #FAFAFA 79%, #FAFAFA);
}

.result-card {
  text-align: center;
}

.result-card:focus {
  outline: none;
}

.result-card .successful,.result-card .failed,.learn-mode .note-text {
  font-size: 22px;
}

.status-display {
  font-size: 50px;
  font-weight: bold;
}

.notes-loading-display {
  font-size: 22px;
  text-align: center;
}

.note-card, .note-content {
  height: 100%
}

.note-text{
  font-size: 18px;
}

.new-note .note-text, .update.note-text {
  height: 69.5%;
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.note-text {
  max-height: 69.5%;
  width: 100%;
  background: none;
}

.hint {
  font-size: 16px;
  color: #808080;
  border: none;
  overflow: auto;
  outline: none;
  width: 100%;
  height: 29.5%;
  background: none;
}

.update {
  display: none;
}

delete-button {
  cursor: pointer;
}

